<% @sent_messages.each do |message| %>
<div class="row">   
     <div class="col-sm-12">
            From <%= message.sender %> To <%= message.recipient %>  
        </div>
    <div class="col-sm-12">
        <%= message.read_at%>
    </div>
        <div class="col-sm-12">
            <%= message.subject %>
        </div>
</div>
       
<% end %>