@import 'bootstrap';

@import "users";


//COLORS VARIABLE
$color_navbar: #3498db;
$color_text: #2c3e50;
$color_bg:#ecf0f1;
$color-message-unread: #f1c40f;

// remember to style the box containing the flash message inside of application.html.erb
* {
    color: $color_text; 
    font-size: 16px;
}
a, a:hover {
    color:lighten($color_text,10%) !important;
    text-decoration: none !important;
}

//CONTAINER FOR HOME @page
.homepage {
    padding-top: 15%;
}
.homepage h1 {
    text-align: left;
}



//style the container of all forms
.form-container * {
    margin-top: 15px;
}

.form-container {
    height: 100vh;
    
}



.incoming-message{
     //general class for the container of the message preview
}

.incoming-message-unread {
    // style it differently when the message is not read 
    background-color:$color-message-unread;
}



//NAVBAR
.navbar {
    background-color: $color_navbar;
}
.navbar * {
    margin-right: 2rem;
}
.navbar-brand {
    font-size: 1.5rem;
}




//CONTAINER FLUID BG
.container-fluid {
    background-color:  $color_bg;
    height: auto;
    min-height: 100vh;
    
}


//BUTTONS and SUBMIT 

.btn,.form_submit {
    background-color: $color_navbar;
    cursor: pointer;
    border:none;
}
.btn:hover,.form_submit:hover {
    background-color: lighten($color_navbar, 10%);
}



h1 {
    text-align:center;
}

.message-body {
    min-height: 100px;  
    margin-bottom: 15px;
}